@font-face {
  font-family: mokoto;
  src: url(fonts/mokoto.ttf);
}

body {
  font-family: 'mokoto';
  color: white;
  background-color: #1E1F22;

  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "header header"
    "main main";
  overflow: hidden;
}

h1 {
  font-size: 15pt;
  font-weight: normal;
  letter-spacing: 1px;
  padding-bottom: 12px;
}

p {
  font-size: 11pt;
  color: #E6E6E6;
  letter-spacing: 1px;
}

.header {
  background-color: #2B2D31;
  grid-area: header;
}

.sidebar {
  position: absolute;
  background-color: #1E1F22;
  height: 100vh;
  width: 0;
  position: absolute;
  transition: 0.8s;
  z-index: 100000;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sidebarTitleText,
#sidebarSubtext,
#sidebarFooter,
#connectionLabel {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.8s, transform 0.8s;
  white-space: nowrap;
  width: 400px;
}

#sidebarFooter {
  opacity: 0;
  transform: translateX(-100%), translateY(1000%);
  transition: opacity 0.8s, transform 0.8s;
  white-space: nowrap;
  width: 400px;
}

#connectionButton {
  opacity: 0;
  transform: translateX(-200%);
  transition: opacity 0.8s, transform 0.8s;
  white-space: nowrap;
  width: 400px;
}

.sidebar.visible #sidebarTitleText,
.sidebar.visible #sidebarSubtext,
.sidebar.visible #connectionLabel,
.sidebar.visible #connectionButton {
  opacity: 1;
  transform: translateX(0);
}

.sidebar.visible #sidebarFooter {
  opacity: 1;
  transform: translateX(0), translateY(1000%);
}

#sidebarTitleText {
  font-size: 22pt;
  letter-spacing: 5px;
  text-align: center;
}

#sidebarSubtext {
  font-size: 16pt;
  letter-spacing: 3px;
  text-align: center;
}

#sidebarFooter {
  text-align: center;
  font-size: 11pt;
  letter-spacing: 2px;
  color: lightgrey;
  transform: translateY(1000%);
}

#connectionLabel {
  font-size: 12pt;
  text-align: center;
}

#connectionInput {
  border: 2px solid white;
  border-radius: 10px;
  width: 100px;
  height: 20px;
  margin-left: 5px;
  text-align: center;
  background-color: #313338;
  color: white;
  font-size: 11pt;
  font-family: mokoto;
}

#connectionButton {
  font-family: mokoto;
  font-size: 11pt;
  background-color: #313338;
  color: white;
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
  width: 150px;
  height: 35px;
  cursor: pointer;
  margin-left: 34px;
  margin-bottom: 25px;
}

.main {
  transition: all 0.8s ease;
  background-color: #313338;
  padding: 25px;
  grid-area: main;

  display: grid;
  grid-template-columns: 475px 1fr 1fr 306px;
  grid-template-rows: 170px 170px 170px;
  grid-template-areas: 
    "c1 c3 c5 c7"
    "c2 c3 c6 c7"
    "c2 c4 c6 c7";
  gap: 18px;
}

.card { 
  background-color: #494b52;
  border-radius: 10px;
  text-align: center;
}

.true {
  background-color: green;
}

.false {
  background-color: red;
}

.unknown {
  background-color: #EED202;
}

.header > .navigationBar {
  display: flex;
  flex-direction: row;
  user-select: none;
}

.navigationBar > .titleBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.titleBar > .toggleButton {
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  background-size: 24px, 24px;
  background-color: transparent;
  background-image: url('images/icon-menu.png');
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s;
  cursor: pointer;
}

.titleBar > .toggleButton:hover {
  background-color: #404249;
}

.titleBar > .toggleButton:active {
  background-color: #313338;
}

.titleBar > .title {
  font-family: mokoto;
  letter-spacing: 3px;
  color: white;
  font-size: 15pt;
  margin-left: 10px;
  width: 100%;
  line-height: 30px;
  padding-top: 2px;
  -webkit-app-region: drag;
}

.navigationBar > .titleBarButtons {
  display: flex;
  flex-direction: row;
  width: 165;
  height: 47px;
}

.titleBarButtons > .navigationButton {
  width: 60px;
  height: 50px;
  border: none;
  outline: none;
  background-size: 20px, 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s;
  cursor: pointer;
}

.titleBarButtons > .navigationButton:hover {
  background-color: #404249;
}

.titleBarButtons > .navigationButton:active {
  background-color: #313338;
}

.titleBarButtons > .closeButton:hover {
  background-color: #C9000A;
}

.titleBarButtons > .closeButton:active {
  background-color: #C9000A;
}

.titleBarButtons > .minimizeButton {
  background-image: url('images/icon-minimize.png');
}

.titleBarButtons > .maximizeButton {
  background-image: url('images/icon-maximize.png');
}

.titleBarButtons > .closeButton {
  background-image: url('images/icon-close.png');
}

.card:nth-child(1) {
  grid-area: c1;
}

.card:nth-child(1) > p {
  text-align: left;
  padding-left: 30px;
  padding-bottom: 10px;
}

.card:nth-child(2) {
  grid-area: c2;
}

#camera {
  margin-inline: auto;
  width: 90%;
  height: 75%;
  background-position: center;
  border: 5px solid white;
  border-radius: 20px;
}

.card:nth-child(3) {
  grid-area: c3;
}

.card:nth-child(3) > p {
  padding-left: 30px;
}

.card:nth-child(3) > h1 {
  padding-bottom: 0px;
}

.status-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 15px;
}

.fault-name {
  text-align: left;
  margin-left: 30px;
}

.fault-status {
  margin: auto 30px auto auto;
  width: 22px;
  height: 22px;
  /* background-color: red; */
  border-radius: 25px;
  border: 3px solid white;
}

/* .fault-status:nth-child(2) {
  background-color: green;
} */

.card:nth-child(4) {
  grid-area: c4;
}

.card:nth-child(4) > h1 {
  padding-bottom: 0px;
}

#auto-selector {
  width: 80%;
  height: 50px;
  font-family: mokoto;
  font-size: 10pt; 
  background-color: #313338;
  color: white;
  text-align: center;
  border-radius: 20px;
  border: 2px solid white;
}

.card:nth-child(5) {
  grid-area: c5;
}

.card:nth-child(5) > h1 {
  padding-bottom: 0px;
}

.switch-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
}

.switch-name {
  text-align: left;
  margin-left: 30px;
}

/* The switch - the box around the slider */
.switch {
  margin-bottom: 20px;
  position: relative;
  /* display: inline-block; */
  width: 50px;
  height: 28px;
  margin: auto 30px auto auto;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}


input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 35px;
}

.slider.round:before {
  border-radius: 50%;
}

.card:nth-child(6) {
  grid-area: c6;
}

.card:nth-child(6) > h1 {
  padding-bottom: 0px;
}

.states-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 5px;
}

.state-name {
  text-align: left;
  margin-left: 30px;
}

.state-text {
  text-align: right;
  margin-right: 30px;
}

.card:nth-child(7) {
  grid-area: c7;
  background-size: contain, cover;
  background-image: url('images/2024CrescendoField.png');
  background-repeat: no-repeat;
  background-position: center;
}

#robotframe {
  position: absolute;
  background-image: url('images/RobotFrame.png');
  background-size: contain, cover;
  background-repeat: no-repeat;
  width: 26.3846153846px;
  height: 31.5384615385px;
}