@font-face {
  font-family: mokoto;
  src: url(fonts/mokoto.ttf);
}

body {
  font-family: 'mokoto';
  color: white;

  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "header header"
    "main main";
}

h1 {
  font-size: 15pt;
  font-weight: normal;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

p {
  font-size: 11pt;
  color: #E6E6E6;
}

body.left-menu-active {
  grid-template-areas: "side header" "side main";
}

.header {
  background-color: #2B2D31;
  grid-area: header;
}

.sidebar {
  background-color: #1E1F22;
  grid-area: side;
}

.main {
  transition: all 0.25s ease;

  background-color: #313338;
  padding: 25px;
  grid-area: main;

  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1.15fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "c1 c3 c5 c7"
    "c2 c3 c6 c7"
    "c2 c4 c6 c7";
  gap: 20px;
}

.card { 
  background-color: #494b52;
  border-radius: 10px;
  text-align: center;
}

.header > .navigationBar {
  display: flex;
  flex-direction: row;
  user-select: none;
}

.navigationBar > .titleBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.titleBar > .toggleButton {
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  background-size: 24px, 24px;
  background-color: transparent;
  background-image: url('images/icon-menu.png');
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s;
  cursor: pointer;
}

.titleBar > .toggleButton:hover {
  background-color: #404249;
}

.titleBar > .toggleButton:active {
  background-color: #313338;
}

.titleBar > .title {
  font-family: mokoto;
  letter-spacing: 3px;
  color: white;
  font-size: 15pt;
  margin-left: 10px;
  width: 100%;
  line-height: 30px;
  padding-top: 8px;
  padding-bottom: 5px;
  -webkit-app-region: drag;
}

.navigationBar > .titleBarButtons {
  display: flex;
  flex-direction: row;
  width: 165;
  height: 47px;
}

.titleBarButtons > .navigationButton {
  width: 60px;
  height: 50px;
  border: none;
  outline: none;
  background-size: 20px, 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s;
  cursor: pointer;
}

.titleBarButtons > .navigationButton:hover {
  background-color: #404249;
}

.titleBarButtons > .navigationButton:active {
  background-color: #313338;
}

.titleBarButtons > .closeButton:hover {
  background-color: #C9000A;
}

.titleBarButtons > .closeButton:active {
  background-color: #C9000A;
}

.titleBarButtons > .minimizeButton {
  background-image: url('images/icon-minimize.png');
}

.titleBarButtons > .maximizeButton {
  background-image: url('images/icon-maximize.png');
}

.titleBarButtons > .closeButton {
  background-image: url('images/icon-close.png');
}

.card:nth-child(1) {
  grid-area: c1;
}

.card:nth-child(1) > p {
  text-align: left;
  padding-left: 30px;
}

.card:nth-child(2) {
  grid-area: c2;
}

#camera {
  margin-inline: auto;
  width: 90%;
  height: 80%;
  background: url("images/icon-camera.png");
  background-size: 100px, 100px;

  /* background: url('http://79.120.134.229:8080/cam_1.cgi'); */
  background-repeat: no-repeat;
  background-position: center;
  border: 5px solid white;
  border-radius: 20px;
}

.card:nth-child(3) {
  grid-area: c3;
}

.card:nth-child(3) > p {
  text-align: left;
  padding-left: 30px;
}

.card:nth-child(4) {
  grid-area: c4;
}

#auto-selector {
  width: 80%;
  height: 50px;
  font-family: mokoto;
  font-size: 10pt; 
  background-color: #313338;
  color: white;
  text-align: center;
  border-radius: 20px;
  border: 2px solid white;
}

.card:nth-child(5) {
  grid-area: c5;
}

.card:nth-child(6) {
  grid-area: c6;
}

.card:nth-child(7) {
  grid-area: c7;
  background-size: contain, cover;
  background-image: url('images/2024CrescendoField.png');
  background-repeat: no-repeat;
  background-position: center;
}